*.Rproj.user
*.Rhistory
*.RData
*working.data.table.RData
*.Rproj
.Rproj.user
.Rhistory
.RData
working.data.table.RData
.Rproj
*.ldb
*.mdb
.ldb
.mdb
*.sublime-project
*.sublime-workspace
.sublime-project
.sublime-workspace
